<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="site/css/styles.css">
  </head>
  <body>
    <h1>{{caption}}</h1>
    <p>Welcome to the Express Project</p>
    <img src="site/images/ski.jpg" alt="Express Logo">
  </body>
</html>
